{% extends "base.html" %}

{% block app_content %}

<h1>{{ survey.title }}</h1>
<h2>{{ survey.description }}</h2>
<hr>

<form action="" method="post">

    {% for question in survey.questions %}

    <div>
        <h3>{{ question.text }}</h3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for answer in question.answers_as_list() %}
                <label class="btn btn-primary active">
                    <input class="form-check-input" type="radio" id="{{answer}}" name="{{question.index}}" value="{{answer}}">{{answer}}
                </label>
            {% endfor %}
        </div>
    </div>

    {% endfor %}

    <p style="padding-top: 20px">
        <input type="submit" class="padding btn btn-primary" value="Submit">
    </p>

</form>

{% endblock %}